[
	{
		"game": 1,
		"path": ""
	},
	{
		"game": 2,
		"path": ""
	},
	{
		"game": 3,
		"path": ""
	},
	{
		"game": 4,
		"path": ""
	},
	{
		"game": 5,
		"path": ""
	},
	{
		"game": 6,
		"path": ""
	},
	{
		"game": 7,
		"path": ""
	},
	{
		"game": 8,
		"path": ""
	},
	{
		"game": 9,
		"path": ""
	}
]
